certifi==2017.7.27.1
chardet==3.0.4
idna==2.6
markovify==0.6.4
oauthlib==2.0.4
praw==5.1.0
prawcore==0.12.0
requests==2.18.4
requests-oauthlib==0.8.0
schedule==0.4.3
six==1.11.0
tweepy==3.5.0
Unidecode==0.4.21
update-checker==0.16
urllib3==1.24.2
