cytoolz==0.8.2
ftfy==4.4.3
markovify==0.6.4
numpy==1.13.3
praw==5.1.0
prawcore==0.12.0
psycopg2==2.7.3.2
requests==2.18.4
requests-oauthlib==0.8.0
six==1.11.0
spacy==2.0.3
tweepy==3.5.0
update-checker==0.16
